:root{
  --app-max-width: 900px;
}
html,body,#root{height:100%;}
body{font-family: Inter, Roboto, 'Helvetica Neue', Arial, sans-serif;margin:0;padding:20px;background:#f7f8fa}
.container{max-width:var(--app-max-width);margin:0 auto}
